
/* font-family: 'Roboto', sans-serif; */


footer {
    background-color:rgb(167, 162, 162);
    margin: auto;
}
p{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 27px;
}

h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 60px;
}
h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 35px ;
   
}

.hero {
    background: url(../img/dolcefoto2.jpg) no-repeat;
    background-size: cover;
    height: 0.5vh;
    min-height: 600px;
    color: white;
}
.lista-novedades{
    margin: 0;
    padding: 0;
    list-style: none;

}
.lista-novedades li{
    margin: 4px 0;
}
.lista-novedades li a {
background-color: #fff;
font-family:'Roboto', sans-serif ;
text-decoration: none;
font-size: 1.2rem;
color: #a0a0a0;
transition: all .2s easw-in-out;
display: block;
}
.lista-novedades li a:hover {
    color: #212529;
    background-color: #dadada;
}
.lista-novedades li a img {
    width: 120px;
    height: 50px;
    filter: grayscale();
    transition: all .2s easw-in-out;
margin-right: 1rem;
opacity: 0.7;
}
.lista-novedades li a:hover img{
    filter: none;
    margin-right: 1.4rem;
    opacity: 1;
}
.testimonios {
    background-color: rgb(238, 141, 141);
    padding-bottom: 4rem !important;
}
.testimonio{
    text-align: center;
    padding: 50px 20px;
}

.staff {
    background: rgb(238, 141, 141);
}

