<div class="container" style="margin: 100px auto ;">
    <div class="row">
        <div class="col">

            <form action="/admin/login" method="post">
                <div class="form-group">
                    <label for="exampleInputEmail1">Usuario</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        id="usuario" aria-describedby="emailHelp" name="usuario">

                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Clave</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" id="form-control"
                        id="password" name="password">

                </div>

                <button type="submit" class="btn btn-primary">enviar</button>
            </form>
            {{#if error}}
            <p>usuario o password incorreco!</p>
            {{/if}}
        </div>
    </div>
</div>