<div class="container" style="margin-top: 50px;">
    <div class="row">
        <div class="col">
            <p class="text-right">
                Hola {{usuario}}!
                <a href="/admin/login/logout" class="btn btn-danger">cerrar sesion <i
                        class="fa fa-sign-out"></i></a>
            </p>

        </div>
    </div>{{!fin de fila 1}}
    {{!inicio de fila 2}}
    <div class="row">
        <div class="col-7" >
            <h3>Listado Novedades</h3>
        </div>
        <div class="col-5 text-right">
            <a href="#" class="btn btn-success"><i class="fa fa-plus"></i>Nuevo</a>
        </div>
    </div>
    {{!fin fila 2}}
    {{!inicio fila 3}}
    <div class="row">
        <div class="col">
            <div class="table">
                <thead class="thead-dark">
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col" class="text-right">Acciones</th>
                    </tr>
                </thead>
                <tr>
                    <th scope="row">1</th>
                    <td>Titulo</td>
                    <td class="text-right">
                        <a href=" " class="btn btn-secondary"> <i class="fas fa-pencil-alt"></i> </a>
                        <a href=" " class="btn btn-secondary"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>

            </div>

        </div>

    </div>
    {{!fin fila 3}}

</div>