<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #ffc7c7;">

        <a class="navbar-brand" href="#">dolce momento</a>


        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" data-scroll href="#home">Home </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#novedades">Novedades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-scroll href="#nosotros">Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-scroll href="#conocenos">Conocenos</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        <div id="home" class="row align-items-center hero">
            <div class="col-lg-3 offset-lg-2">
                <p>Pasteleria Profesional</p>
                <h1>Dolce Momento</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas dolore reiciendis voluptates ipsum,
                    laudantium, inventore, itaque alias eum amet minus ea recusandae exercitationem quos sapiente
                    obcaecati natus voluptatum culpa labore?</p>

            </div>

        </div>

    </div> <!-- termina hero-->
    <div id="novedades" class="row py-4">
        <div class="col-md-5 offset-md-2 py-3">
            <h2>Novedades</h2>
            <ul class="lista-novedades">
                <li><a href="#"><img src="img/novedades1.jpg" alt="drip-cake">nuevas tortas</a></li>
                <li><a href="#"><img src="img/novedades2.jpg" alt="drip-cake-rosa">nuevas tortas</a></li>
                <li><a href="#"><img src="img/novedades3.jpg" alt="browni-ddl">nuevas tortas</a></li>
                <li><a href="#"><img src="img/novedades4.jpg" alt="browni-numero-2">nuevas tortas</a></li>
                <li><a href="#"><img src="img/novedades5.jpg" alt="torta-coco">nuevas tortas</a></li>


            </ul>

        </div>
        <div class="col-md-3">
            <!--testimonios-->
             <div class="rounded py-3 testimonios">
                <h2 class="text-center">testimonios</h2>
                <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
                        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">

                            <div class="testimonio">
                                <h5>maria carla</h5>
                                <p>la mejor torta que probe en mucho tiempo.</p>
                            </div>
                        </div>
                        <div class="carousel-item">

                            <div class="testimonio">
                                <h5>fernando esteban</h5>
                                <p>me parecio un producto profecional.</p>
                            </div>
                        </div>
                        <div class="carousel-item">

                            <div class="testimonio">
                                <h5>francisco casado</h5>
                                <p>lo volveria a elegir una y otra vez.</p>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div> 
            <!--cierra testimonios-->
            
        </div>
        <!--termina novedades-->
        <!-- inicio hisroia -->

        <div id="historia" class="row align-items-center py-4">
         <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
                <img src="img/historia1.jpg" alt="historia1" class="img-fluid">
            </div>
            <div class="col-lg-2 col-md-3 d-none d-sm-block">
                <img src="img/historia2.jpg" alt="historia2" class="img-fluid">
            </div>
            <div class="col-12 d-sm-none">
                <img src="img/historia3.jpg" alt="historia3" class="img-fluid">
            </div>
            <div class="col-lg-4 col-md-6 mt-4 mt-sm-0">
                <h2>Historia</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam consectetur necessitatibus repellat
                    nulla ea veniam repellendus, ipsa libero dignissimos sed quae itaque accusantium omnis enim id error
                    ratione distinctio molestias.</p>

         </div>

        </div>  
       
        <!-- fin historia -->
        <div class="row">
        <div class="col">
            <div class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col" class="text-right">Acciones</th>
                    </tr>
                </thead>
                <tr>
                    <th scope="row">1</th>
                    <td>Titulo</td>
                    <td class="text-right">
                        <a href=" " class="btn btn-secondary"> <i class="fas fa-pencil-alt"></i> </a>
                        <a href=" " class="btn btn-secondary"><i class="fas fa-trash"></i></a>
                    </td>
                </tr>

            </div>

        </div>
        

        <!-- inicio nosotros -->
        <div id="nosotros" class="row align-items-stretch my-3 staff py-4">
            <div class="col-lg-8 offset-lg-2">
                <h2>Nosotros</h2>
                <div class="card-deck">
                    <div class="card">
                        <img src="img/azul1.jpg" width="300" height="500" class="card-img-top" alt="dueña">
                        <div class="card-body">
                            <h5 class="card-title">azul charreun</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                    <div class="card">
                        <img src="img/fran.jpg" width="300" height="500" class="card-img-top" alt="novio">
                        <div class="card-body">
                            <h5 class="card-title">francisco casado</h5>
                            <p class="card-text">This card has supporting text below as a natural lead-in to additional
                                content.
                            </p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Last updated 3 mins ago</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fin nosotros -->
    <!-- inicio conocenos -->

    <div id="conocenos" class="row py-4">
        <div class="col-md-4 offset-md-2">
            <h2>visitanos</h2>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3289.578521351941!2d-58.91195768501762!3d-34.46284548049612!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bc9de8fc64e869%3A0xbe839a47a89eadcc!2sAJA%2C%20Victor%20Vergani%201014%2C%20B1629%20Pilar%20Centro%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses-419!2sar!4v1659326902457!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade" style="border:0;" allowfullscreen></iframe>

            </div>

        </div>
        <!-- inicio de form -->
        <div class="col-md-4 mt-4 mt-sm-0">
            <h2>Contactanos</h2>
            <form action="/" method="post">
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nombre">Nombre</label>
                        <input type="text" class="form-control" id="nombre" placeholder="..." name="nombre">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="apellido">Apellido</label>
                        <input type="text" class="form-control" id="apellido" placeholder="..." name="apellido">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" placeholder="ejemplo@email.com" name="email">
                </div>
                <div class="form-group">
                    <label for="tel">Tel</label>
                    <input type="number" class="form-control" id="tel" placeholder="123456789" name="tel">
                </div>
                <div class="form-row">

                    <div class="form-group ">
                        <label for="mensaje">Mensaje</label>
                        <textarea class="form-control" id="mensaje" rows="4" name="mensaje"></textarea>
                    </div>

                </div>

                <button type="submit" class="btn btn-primary" style="background-color: pink; color:black;border-color: pink; ">Enviar</button>
            </form>
        {{message}}

        </div>

        <!-- fin de form -->
    </div><!-- fin conocenos -->










    <footer>
        <p class="text-center">diseñado por: Francisco casado </p>
    </footer>
